<form [formGroup]="formGroup" style="display: flex">
    <sl-select formControlName="fontFamily">
        <sl-option *ngFor="let option of fonts" [value]="option">{{ option }}</sl-option>
    </sl-select>
    <sl-input formControlName="fontSize" type="number"></sl-input>
    <sl-checkbox formControlName="checkbox"></sl-checkbox>
    <app-native-color-picker></app-native-color-picker>
</form>
<form style="display: flex">
  <sl-switch #switch (sl-change)="switch.checked ? selectForm.disable() : selectForm.enable()">Toggle</sl-switch>
  <sl-select
    (sl-change)="onSelectChange($event)"
    (sl-blur)="onSelectBlur()"
    [disabled]="selectForm.controls.select.disabled"
    #selectRef
  >
    <sl-option *ngFor="let option of select | keyvalue" [value]="option.value.toString()">{{
      option.key
    }}</sl-option>
  </sl-select>
</form>
