/* You can add global styles to this file, and also import other style files */
.ng-valid.ng-dirty:not([formArrayName]):not([formArrayName]):not([ngModelGroup]):not(form) {
    border: 1px solid #4caf50;
}

.ng-invalid.ng-dirty:not([ngModelGroup="address"]):not([formArrayName]):not([formArrayName]):not(form) {
    border: 1px solid #ff0000;
}

@keyframes input-message-animation {
    from {
        opacity: 0;
        transform: translateY(-6px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@mixin input-message() {
    font-size: 12px;
    padding: 2px 13px;
    animation: input-message-animation 300ms;
}

.input-error {
    color: red;
    @include input-message();
}

.input-info {
    color: yellowgreen;
    @include input-message();
}

.app-link {
    display: inline-block;
    text-decoration: none;
    color: rgb(151, 156, 151);
    &-active {
        color: red;
        border: 1px solid red;
    }
}
